@charset "UTF-8";
/*==================================================================
    style.css
===================================================================*/
/*==================================================================
    utility
===================================================================*/
/* ------------------------------------------------------------------
  Visual utility
-------------------------------------------------------------------*/
/*  display
---------------------------------------------*/
.noDisplay {
  display: none !important;
}

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inlineBlock {
  display: inline-block !important;
}

/* ======= display none ======= */
@media screen and (min-width: 769px) {
  .pcNone {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .spNone {
    display: none !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .tbNone {
    display: none !important;
  }
}
/*  position
---------------------------------------------*/
.static {
  position: static !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

/*  float
---------------------------------------------*/
.leftBox {
  float: left;
}

.rightBox {
  float: right;
}

.nofloat {
  float: none !important;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.clear {
  clear: both !important;
}

/* IE6 */
* html .clearfix {
  zoom: 1;
}

/* IE7 */
*:first-child + html .clearfix {
  zoom: 1;
}

/*  hover
---------------------------------------------*/
.hover:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

/*  .scrollWSp SP時に横幅からはみ出す要素(tableなど)に囲って使用
---------------------------------------------*/
@media screen and (max-width: 768px) {
  .scrollWSp {
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
/* .firstload ※初回読み込み時のCSSトランジション防止
------------------------------------------------*/
.firstload {
  transition: 0s !important;
}

/* ------------------------------------------------------------------
  width utility
-------------------------------------------------------------------*/
.w10 {
  width: 10% !important;
}

.w20 {
  width: 20% !important;
}

.w30 {
  width: 30% !important;
}

.w40 {
  width: 40% !important;
}

.w50 {
  width: 50% !important;
}

.w60 {
  width: 60% !important;
}

.w70 {
  width: 70% !important;
}

.w80 {
  width: 80% !important;
}

.w90 {
  width: 90% !important;
}

.w100 {
  width: 100% !important;
}

/* ------------------------------------------------------------------
  BoxModel utility
-------------------------------------------------------------------*/
.mt0 {
  margin-top: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pl55 {
  padding-left: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.pr65 {
  padding-right: 65px !important;
}

.pl65 {
  padding-left: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pl70 {
  padding-left: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pl75 {
  padding-left: 75px !important;
}

/* ------------------------------------------------------------------
  border utility
-------------------------------------------------------------------*/
.btNone {
  border-top: none !important;
}

.brNone {
  border-right: none !important;
}

.bbNone {
  border-bottom: none !important;
}

.blNone {
  border-left: none !important;
}

/* ------------------------------------------------------------------
  Text utiity
-------------------------------------------------------------------*/
.bold {
  font-weight: bold !important;
}

.italic {
  font-style: italic !important;
}

.note {
  color: #989898;
  margin-left: 1em;
  text-indent: -1em;
}

.underline {
  text-decoration: underline !important;
}

.textNoLine {
  text-decoration: none !important;
}

/*  font-family
---------------------------------------------*/
.font1 {
  font-family: "Noto Sans JP", sans-serif !important;
}

.font2 {
  font-family: "Roboto", sans-serif !important;
}

/*  font-size+line-height
---------------------------------------------*/
.fzS {
  font-size: 1.2rem;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .fzS {
    font-size: 1.2rem;
    line-height: 1.3;
  }
}

.fz {
  font-size: 1.4rem;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  .fz {
    font-size: 1.3rem;
    line-height: 1.5;
  }
}

.fzM {
  font-size: 1.5rem;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .fzM {
    font-size: 1.4rem;
    line-height: 1.7;
  }
}

.fzL {
  font-size: 1.8rem;
  line-height: 2.4;
}
@media screen and (max-width: 768px) {
  .fzL {
    font-size: 1.7rem;
    line-height: 1.9;
  }
}

/*  color
---------------------------------------------*/
.white {
  color: #fff;
}

.black {
  color: #000;
}

.g1 {
  color: #989898;
}

.g2 {
  color: #464646;
}

.g3 {
  color: #5c5c5c;
}

.g4 {
  color: #88919b;
}

.g5 {
  color: #efeeee;
}

.g6 {
  color: #dddddd;
}

.c1 {
  color: #455262;
}

.c2 {
  color: #77bae1;
}

.c3 {
  color: #33333C;
}

.c4 {
  color: #F2001C;
}

.c5 {
  color: #FFF100;
}

.c6 {
  color: #5392A0;
}

.c-caution {
  color: #d40000;
}

/*  align
---------------------------------------------*/
.text-middle {
  vertical-align: middle !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

/* font-size
---------------------------------------------*/
.fz {
  font-size: 1.4rem;
}

.fz--s {
  font-size: 1.2rem;
  line-height: 1.6;
}

.fz--l {
  font-size: 1.8rem;
  line-height: 2.4;
}

.fz8 {
  font-size: 0.8rem !important;
}

.fz9 {
  font-size: 0.9rem !important;
}

.fz10 {
  font-size: 1rem !important;
}

.fz11 {
  font-size: 1.1rem !important;
}

.fz12 {
  font-size: 1.2rem !important;
}

.fz13 {
  font-size: 1.3rem !important;
}

.fz14 {
  font-size: 1.4rem !important;
}

.fz15 {
  font-size: 1.5rem !important;
}

.fz16 {
  font-size: 1.6rem !important;
}

.fz17 {
  font-size: 1.7rem !important;
}

.fz18 {
  font-size: 1.8rem !important;
}

.fz19 {
  font-size: 1.9rem !important;
}

.fz20 {
  font-size: 2rem !important;
}

.fz21 {
  font-size: 2.1rem !important;
}

.fz22 {
  font-size: 2.2rem !important;
}

.fz23 {
  font-size: 2.3rem !important;
}

.fz24 {
  font-size: 2.4rem !important;
}

.fz25 {
  font-size: 2.5rem !important;
}

.fz26 {
  font-size: 2.6rem !important;
}

.fz27 {
  font-size: 2.7rem !important;
}

.fz28 {
  font-size: 2.8rem !important;
}

.fz29 {
  font-size: 2.9rem !important;
}

.fz30 {
  font-size: 3rem !important;
}

.flex {
  display: flex;
}
.flex.align-center {
  align-items: center;
}
.flex.justify-center {
  justify-content: center;
}
.flex.between {
  justify-content: space-between;
}
.flex.end {
  justify-content: flex-end;
}
.flex.start {
  justify-content: flex-start;
}
.flex.wrap {
  flex-flow: row wrap;
}
.flex.nowrap {
  flex-flow: row nowrap;
}
.flex.column {
  flex-flow: column;
}
@media screen and (max-width: 991px) {
  .flex.column-sp {
    flex-flow: column;
  }
}

/*==================================================================
    layout
===================================================================*/
/*  wrapper
---------------------------------------------*/
.container-box {
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .container-box {
    padding: 0 15px;
  }
}

.container-box-ul {
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .container-box-ul {
    padding: 0 15px;
  }
}

/*  container
---------------------------------------------*/
.container {
  width: 100%;
  max-width: 1280px;
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 991px) {
  .container {
    max-width: unset;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: unset;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.container.-Xlarge {
  max-width: 1920px;
}
.container.-large {
  max-width: 1520px;
}
.container.-mid {
  max-width: 1100px;
}
.container.-small {
  max-width: 960px;
}
.container.-min {
  max-width: 690px;
}
.container.-fluid {
  max-width: none;
  padding-right: 30px;
  padding-left: 30px;
}

main {
  padding-top: 60px;
}

.section-wrapper {
  margin: 0 auto 50px;
  position: relative;
}
.section-wrapper.-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.section-panel {
  width: 49%;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 991px) {
  .section-panel {
    width: 100%;
    margin-bottom: 30px;
  }
}
.section-panel.-full {
  width: 100%;
}
.section-panel-header {
  padding: 15px;
  background-color: #77bae1;
}
.section-panel-header h2 {
  font-size: 1.8rem;
  color: #fff;
}
.section-panel-content {
  background-color: #fff;
  padding: 25px;
}
.section-panel-content .subtitle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.section-panel-footer {
  background-color: #fff;
  padding: 0 25px 25px;
}
.section-panel-footer .btn-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.section-panel-footer .btn-box li {
  width: calc((100% - 20px) / 2);
  max-width: 200px;
  margin-right: 20px;
}
.section-panel-footer .btn-box li:last-child {
  margin-right: 0;
}

.basic-row {
  margin-bottom: 30px;
}

/*==================================================================
    form
===================================================================*/
/*  autofill
---------------------------------------------*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(250, 250, 250) inset;
}

/*  hover
---------------------------------------------*/
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
select,
textarea {
  transition: all 200ms ease;
}

.pc input[type=text]:hover,
.pc input[type=tel]:hover,
.pc input[type=email]:hover,
.pc input[type=password]:hover,
.pc select:hover,
.pc textarea:hover {
  border: 1px solid #455262;
  background-color: #fff;
}

button {
  border: none;
  cursor: pointer;
}

/*  focus
---------------------------------------------*/
input:focus,
select:focus,
textarea:focus {
  color: #000000;
}

input[type=button]:focus,
input[type=submit]:focus,
button[type=submit]:focus,
input[type=file],
input[type=text]:focus,
input[type=tel]:focus,
input[type=password]:focus,
button:focus {
  outline: none;
}

/*  input.short
---------------------------------------------*/
input.short,
select.short,
textarea.short {
  width: 40%;
}

@media screen and (max-width: 768px) {
  input.short,
  select.short,
  textarea.short {
    width: 100%;
  }
}
/*  must 必須項目の※
---------------------------------------------*/
.must {
  color: #d40000;
  font-size: 80%;
  vertical-align: top;
  position: relative;
  top: -0.4em;
  right: -0.2rem;
}

/*  button submit
---------------------------------------------*/
/* ======= hover ======= */
.pc input[type=button]:hover,
.pc input[type=submit]:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*  checkbox radio
---------------------------------------------*/
/* ======= common ======= */
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  transition: 0s;
  width: 20px;
  height: 20px;
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid #ccc !important;
}

/*  input file
---------------------------------------------*/
label.file {
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  background-color: #455262;
  padding: 1rem 2.5rem;
  margin-bottom: 0.8rem;
  border-radius: 2px;
  cursor: pointer;
  transition: all 200ms ease;
}

/* ======= hover ======= */
.pc label.file:hover {
  background-color: #77bae1;
}

/*  select
---------------------------------------------*/
select {
  -webkit-appearance: none;
  width: 100%;
  position: relative;
  height: 40px;
  padding-left: 1rem;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1;
}

label.select {
  position: relative;
  display: block;
}

label.select::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  width: 32px;
  height: 32px;
  pointer-events: none;
}

label.select::after {
  position: absolute;
  content: "";
  display: block;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  border-top: 6px solid #000;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  font-size: 1.4rem;
  pointer-events: none;
}

/*
表示確認済みPC : chrome,safari,edge,firefoxはアップデードでselectの疑似要素がOKになりました。
※ IE11~9はデフォルト表示
確認済みSP : 【ios12】 Safari/chrome 【android7】chrome
*/
/* IE9以下はデフォルト */
label.select::after,
label.select::before {
  display: none\9 ;
}

/* IE10,11はデフォルト */
@media all and (-ms-high-contrast: none) {
  label.select::after,
  label.select::before {
    display: none;
  }
}
/* ======= sp ======= */
@media screen and (max-width: 768px) {
  label.select::after {
    right: 10px;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    font-size: 1.4rem;
  }
}
label.select select {
  padding-right: 50px;
}
label.select select.dark {
  background-color: #455262;
  color: #fff;
  outline: none !important;
}
label.select select.readonly {
  pointer-events: none;
  background-color: #f1f1f1;
}
label.select.dark::after {
  border-top: 6px solid #fff !important;
}

/*==================================================================
    .btn
===================================================================*/
.btn {
  position: relative;
  padding: 0 1em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.btn.-lhl {
  height: 75px;
}
.btn.-lhm {
  height: 60px;
}
.btn.-lhs {
  height: 40px;
}
.btn.-lhxs {
  height: 30px;
}
.btn.-fsm {
  font-size: 1.6rem;
}
.btn.-fsl {
  font-size: 1.8rem;
}
.btn.-fss {
  flex-flow: column nowrap;
  font-size: 1.3rem;
}
.btn.-auto {
  width: auto !important;
}
.btn:disabled {
  opacity: 0.3;
  pointer-events: none;
}
.btn.-check .icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.btn.-check .icon::before {
  display: block;
  content: "";
  width: 24px;
  height: 17px;
  background-image: url(../img/common/icon_btn_check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 0.8em;
}
.btn.-cancel .icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.btn.-cancel .icon::before {
  display: block;
  content: "";
  width: 23px;
  height: 23px;
  background-image: url(../img/common/icon_btn_cross.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 0.8em;
}
.btn.-right-arrow::before {
  display: block;
  content: "";
  width: 20px;
  height: 3px;
  background-image: url(../img/common/icon-arrow-right_black04.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.btn.-csv i {
  background-image: url(../img/common/icon-arrow-right_white01.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding-left: 10px;
}
.btn.-csv i.logout {
  background-image: url(../img/common/icon-logout.svg);
}
.btn.-back {
  background-color: #989898 !important;
}
.btn.c1 {
  background-color: #667b9f;
}
.btn i {
  margin-right: 8px;
}
.btn i.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
  z-index: 2;
  margin-right: 5px;
}
.btn i.i-10 {
  width: 10px;
}
.btn i.i-15 {
  width: 15px;
}
.btn i.i-30 {
  width: 30px;
}
.btn i.i-40 {
  width: 40px;
}
.btn i.i-csv {
  background-image: url(../img/common/icon-excel-white.svg);
}
.btn i.i-plusmark {
  background-image: url(../img/common/icon-plusmark-white.svg);
}
.btn i.i-pencil {
  background-image: url(../img/common/icon-pencil-white.svg);
}
.btn i.i-delete {
  background-image: url(../img/common/icon-delete-white.svg);
}
.btn i.i-info {
  background-image: url(../img/common/icon-detail-white.svg);
}
.btn i.i-add {
  background-image: url(../img/common/icon-add-white.svg);
}
.btn i.i-checkmark {
  background-image: url(../img/common/icon-checkmark-white.svg);
}
.btn i.i-cancel {
  background-image: url(../img/common/icon-cancel-white.svg);
}
.btn i.-rev.i-csv {
  background-image: url(../img/common/icon-excel-dark.svg);
}
.btn i.-rev.i-plusmark {
  background-image: url(../img/common/icon-plusmark-dark.svg);
}
.btn i.-rev.i-pencil {
  background-image: url(../img/common/icon-pencil-dark.svg);
}
.btn i.-rev.i-delete {
  background-image: url(../img/common/icon-delete-dark.svg);
}
.btn i.-rev.i-info {
  background-image: url(../img/common/icon-detail-dark.svg);
}
.btn i.-rev.i-add {
  background-image: url(../img/common/icon-add-dark.svg);
}
.btn i.-rev.i-checkmark {
  background-image: url(../img/common/icon-checkmark-dark.svg);
}
.btn i.-rev.i-cancel {
  background-image: url(../img/common/icon-cancel-dark.svg);
}
.btn i.-w.i-csv {
  background-image: url(../img/common/icon-excel-white.svg);
}
.btn i.-w.i-plusmark {
  background-image: url(../img/common/icon-plusmark-white.svg);
}
.btn i.-w.i-pencil {
  background-image: url(../img/common/icon-pencil-white.svg);
}
.btn i.-w.i-delete {
  background-image: url(../img/common/icon-delete-white.svg);
}
.btn i.-w.i-info {
  background-image: url(../img/common/icon-detail-white.svg);
}
.btn i.-w.i-add {
  background-image: url(../img/common/icon-add-white.svg);
}
.btn i.-w.i-checkmark {
  background-image: url(../img/common/icon-checkmark-white.svg);
}
.btn i.-w.i-cancel {
  background-image: url(../img/common/icon-cancel-white.svg);
}
.btn i.-k.i-csv {
  background-image: url(../img/common/icon-excel-dark.svg);
}
.btn i.-k.i-plusmark {
  background-image: url(../img/common/icon-plusmark-dark.svg);
}
.btn i.-k.i-pencil {
  background-image: url(../img/common/icon-pencil-dark.svg);
}
.btn i.-k.i-delete {
  background-image: url(../img/common/icon-delete-dark.svg);
}
.btn i.-k.i-info {
  background-image: url(../img/common/icon-detail-dark.svg);
}
.btn i.-k.i-add {
  background-image: url(../img/common/icon-add-dark.svg);
}
.btn i.-k.i-checkmark {
  background-image: url(../img/common/icon-checkmark-dark.svg);
}
.btn i.-k.i-cancel {
  background-image: url(../img/common/icon-cancel-dark.svg);
}
.btn:hover i.i-csv {
  background-image: url(../img/common/icon-excel-dark.svg);
}
.btn:hover i.i-plusmark {
  background-image: url(../img/common/icon-plusmark-dark.svg);
}
.btn:hover i.i-pencil {
  background-image: url(../img/common/icon-pencil-dark.svg);
}
.btn:hover i.i-delete {
  background-image: url(../img/common/icon-delete-dark.svg);
}
.btn:hover i.i-info {
  background-image: url(../img/common/icon-detail-dark.svg);
}
.btn:hover i.i-add {
  background-image: url(../img/common/icon-add-dark.svg);
}
.btn:hover i.i-checkmark {
  background-image: url(../img/common/icon-checkmark-dark.svg);
}
.btn:hover i.i-cancel {
  background-image: url(../img/common/icon-cancel-dark.svg);
}
.btn:hover i.-rev.i-csv {
  background-image: url(../img/common/icon-excel-white.svg);
}
.btn:hover i.-rev.i-plusmark {
  background-image: url(../img/common/icon-plusmark-white.svg);
}
.btn:hover i.-rev.i-pencil {
  background-image: url(../img/common/icon-pencil-white.svg);
}
.btn:hover i.-rev.i-delete {
  background-image: url(../img/common/icon-delete-white.svg);
}
.btn:hover i.-rev.i-info {
  background-image: url(../img/common/icon-detail-white.svg);
}
.btn:hover i.-rev.i-add {
  background-image: url(../img/common/icon-add-white.svg);
}
.btn:hover i.-rev.i-checkmark {
  background-image: url(../img/common/icon-checkmark-white.svg);
}
.btn:hover i.-rev.i-cancel {
  background-image: url(../img/common/icon-cancel-white.svg);
}
.btn:hover i.-w.i-csv {
  background-image: url(../img/common/icon-excel-white.svg);
}
.btn:hover i.-w.i-plusmark {
  background-image: url(../img/common/icon-plusmark-white.svg);
}
.btn:hover i.-w.i-pencil {
  background-image: url(../img/common/icon-pencil-white.svg);
}
.btn:hover i.-w.i-delete {
  background-image: url(../img/common/icon-delete-white.svg);
}
.btn:hover i.-w.i-info {
  background-image: url(../img/common/icon-detail-white.svg);
}
.btn:hover i.-w.i-add {
  background-image: url(../img/common/icon-add-white.svg);
}
.btn:hover i.-w.i-checkmark {
  background-image: url(../img/common/icon-checkmark-white.svg);
}
.btn:hover i.-w.i-cancel {
  background-image: url(../img/common/icon-cancel-white.svg);
}
.btn:hover i.-k.i-csv {
  background-image: url(../img/common/icon-excel-dark.svg);
}
.btn:hover i.-k.i-plusmark {
  background-image: url(../img/common/icon-plusmark-dark.svg);
}
.btn:hover i.-k.i-pencil {
  background-image: url(../img/common/icon-pencil-dark.svg);
}
.btn:hover i.-k.i-delete {
  background-image: url(../img/common/icon-delete-dark.svg);
}
.btn:hover i.-k.i-info {
  background-image: url(../img/common/icon-detail-dark.svg);
}
.btn:hover i.-k.i-add {
  background-image: url(../img/common/icon-add-dark.svg);
}
.btn:hover i.-k.i-checkmark {
  background-image: url(../img/common/icon-checkmark-dark.svg);
}
.btn:hover i.-k.i-cancel {
  background-image: url(../img/common/icon-cancel-dark.svg);
}

.editing .btn {
  max-width: 90px;
}

.editing .flex {
  justify-content: center;
}

.btn01 {
  color: #fff;
  font-size: 1.5rem;
  background-color: #455262;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 200ms ease;
}
.btn01:hover {
  background-color: #45738d;
}

.btn02 {
  color: #fff;
  font-size: 1.4rem;
  background: transparent;
  padding: 0 1.5em;
  border: 1px solid #455262;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btn02::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #455262;
  transform-origin: 100% 50%;
  transform: scaleX(1);
  transition: transform ease 0.3s;
}
.btn02:hover {
  color: #455262;
}
.btn02:hover::before {
  transform-origin: 100% 50%;
  transform: scaleX(0);
}
.btn02.-rev {
  color: #455262;
  background: transparent;
}
.btn02.-rev::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #455262;
  transform-origin: 0% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
.btn02.-rev:hover {
  color: #fff;
}
.btn02.-rev:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.btn03 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 2px;
  transition: all 200ms ease;
  padding: 0em 0.4em;
}
.btn03:hover {
  opacity: 0.8;
}

.btn04 {
  display: block;
  width: 100%;
  background: linear-gradient(to right, #000d83 0%, #4698e0 100%);
  color: #fff;
  transition: all 200ms ease;
  outline: none;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.btn05 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease;
  outline: none;
  border: none;
  text-align: center;
  position: relative;
}
.btn05:hover {
  opacity: 0.7;
}

.modal-confirmation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.modal-confirmation li {
  margin-right: 15px;
  width: 120px;
}
.modal-confirmation li:last-child {
  margin-right: 0;
}
.modal-confirmation li button {
  width: 100%;
}

.btn-cancel {
  background-color: #ee6666;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  transition: all 200ms ease;
}
.btn-cancel:hover {
  opacity: 0.8;
}

.btn-done {
  background-color: #57be62;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  transition: all 200ms ease;
}
.btn-done:hover {
  opacity: 0.8;
}

.btn-transparent {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  transition: all 200ms ease;
}
.btn-transparent:hover {
  opacity: 0.8;
}

.btn-dark {
  background-color: #455262;
}
.btn-red {
  background-color: #d40000;
}
.btn-darkblue {
  background-color: #236aa3;
}
.btn-green {
  background-color: #318937;
}
.btn-gray {
  background-color: #9f9f9f;
}
.btn-smorkyblue {
  background-color: #00b8d4;
}
.btn-bluegray {
  background-color: #70859e;
}

.action-btn-panel {
  margin: 40px auto;
  width: 100%;
  max-width: 630px;
}
.action-btn-panel ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.action-btn-panel ul li {
  padding: 0 15px;
  width: 50%;
}

/*==================================================================
    .pagetop
===================================================================*/
.pagetop {
  width: 60px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 18px;
  background-color: #000;
  position: fixed;
  bottom: 85px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  transition: all 200ms ease;
}
@media screen and (max-width: 768px) {
  .pagetop {
    width: 40px;
    height: 40px;
    padding-top: 15px;
    bottom: 70px;
    right: 10px;
  }
}
.pagetop:hover {
  opacity: 0.6;
}
.pagetop img {
  width: 20px;
  height: 20px;
}

/*==================================================================
    .footer
===================================================================*/
.fixednavi {
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: #fff;
  z-index: 150;
  width: 100%;
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .fixednavi .container {
    padding: 0 10px;
  }
}
.fixednavi ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 15px 0;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .fixednavi ul {
    padding: 0;
    margin: 0px -5px;
  }
}
.fixednavi ul li {
  width: 50%;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .fixednavi ul li {
    padding: 10px 5px;
  }
}
.fixednavi ul li a {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #F2001C;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  height: 80px;
  border-radius: 4px;
  font-size: clamp(12px, 3vw, 1.3rem);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .fixednavi ul li a {
    height: 50px;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
  }
}
.fixednavi ul li a:hover {
  box-shadow: none;
  transform: translateY(5px);
}
@media screen and (max-width: 768px) {
  .fixednavi ul li a:hover {
    transform: translateY(3px);
  }
}
.fixednavi ul li a i {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.fixednavi ul li:last-child a {
  background-color: #FFF100;
  color: #F2001C;
}

/*==================================================================
    modal
===================================================================*/
.modal {
  position: fixed;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}
.modal[v-cloak] {
  display: none;
}
@media screen and (max-width: 768px) {
  .modal {
    padding: 0;
  }
}
.modal .__bg {
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal .__inner {
  position: relative;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  max-height: 640px;
}
@media screen and (max-width: 768px) {
  .modal .__inner {
    max-width: initial;
    max-height: initial;
    width: 100%;
    height: 100svh;
  }
}
.modal .__inner .__head {
  background-color: #f2001f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .modal .__inner .__head {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .modal .__inner .__head {
    border-radius: 0;
  }
}
.modal .__inner .__head .__title {
  margin: 0;
  color: #fff;
}
.modal .__inner .__head .__close {
  position: relative;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
.modal .__inner .__head .__close::before, .modal .__inner .__head .__close::after {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  inset: 0;
  margin: auto;
}
.modal .__inner .__head .__close::before {
  transform: rotate(45deg);
}
.modal .__inner .__head .__close::after {
  transform: rotate(-45deg);
}
.modal .__inner .__list {
  overflow: auto;
  flex: 1;
  background-color: #fffeeb;
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 768px) {
  .modal .__inner .__list {
    border-radius: 0;
  }
}
.modal .__inner .__list ul {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 20px;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  .modal .__inner .__list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
.modal .__inner .__list ul li a {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px #000;
  border-width: 1px 2px 2px 1px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .modal .__inner .__list ul li a {
    font-size: 0.9rem;
  }
}
.modal .__inner .__list ul li a:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
}