#top {
  background-color: #fbfbfb;
}

@keyframes userbox-fadein {
  from {
    opacity: 0;
    transform: translateY(0px);
  }

  to {
    opacity: 1;
    transform: translateY(-55px);
  }
}

#top .dashboard {
  &-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 -10px;
    .box {
      width: calc(100% / 3);
      padding: 10px;
      @include mq(l){
        width: 50%;
      }
      .inner {
        background-color: $w;
        padding: 20px;
        box-shadow: 0px 0px 1px rgba($color: $k, $alpha: 0.1);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        img {
          width: 25%;
          max-width: 90px;
        }
        ul {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          width: 75%;
          padding-left: 30px;
          li {
            padding: 8px;
            width: 50%;
            &.full {
              width: 100%;
            }
            a {
              display: flex;
              position: relative;
              &::before {
                content: '';
                width: 7px;
                height: 7px;
                top: 50%;
                left: -15px;
                transform: translateY(-50%) rotate(45deg);
                position: absolute;
                border-top: 1px solid $c1;
                border-right: 1px solid $c1;
                transition: all 0.3s;
              }
              &:hover {
                &::before {
                  left: -13px;
                }
              }
            }
          }
        }
      }
    }
    h2 {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      img {
        width: 100%;
        max-width: 140px;
        margin: 0px auto;
      }
    }
    p {
      font-size: clamp(1.6rem, 5vw, 2rem);
      font-weight: 500;
      text-align: center;
    }
  }
}