@keyframes ○○○○○○ {
  0% {
    opacity: 0;
	transform: rotate3d(1,0,0,30deg) translate3d(0px,40px,0px);
  }
  100% {
    opacity: 1;
	transform: rotate3d(0,0,0,0deg) translate3d(0px,0px,0px);
  }
}
.○○○○○○ {
  animation-name: ○○○○○○;
  transition:ease-out;
  transform-origin: 0% 50%;
}
