@keyframes moveLineLeftToRight {
0% {
transform:scaleX(1);
transform-origin:right center
}
49.9% {
transform:scaleX(0);
transform-origin:right center
}
50% {
transform:scaleX(0);
transform-origin:left center
}
100% {
transform:scaleX(1);
transform-origin:left center
}
}
.moveLineLeftToRight {
  animation-name: moveLineLeftToRight;
  transition:         all $time cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes moveLineTopToBottom {
0% {
transform:scaleY(1);
transform-origin:center bottom
}
49.9% {
transform:scaleY(0);
transform-origin:center bottom
}
50% {
transform:scaleY(0);
transform-origin:center top
}
100% {
transform:scaleY(1);
transform-origin:center top
}
}

.moveLineTopToBottom {
  animation-name: moveLineLeftToRight;
  transition:         all $time cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
