@keyframes popInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 60px, 0) scale(0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scale(1.2);
  }

  75% {
    transform: translate3d(0, 10px, 0) scale(.8);
  }

  90% {
    transform: translate3d(0, -5px, 0) scale(1.1);
  }

  to {
    transform: translate3d(0, 0, 0)  scale(1.0);
  }
}

.popInUp {
  animation-name: popInUp;
}
